# Umgebungsvariablen
.env

# Python Cache
__pycache__/
*.pyc

# Virtuelle Umgebung (falls du eine verwendest)
venv/
.venv/
env/
.env/

# IDE/Editor spezifische Dateien
.idea/
.vscode/

# Datenbankdateien
moviweb.db```

